main {
    margin: auto;
}
h2{
    color: cornsilk;
}

div {

    border: 2px solid black;
    width: 350px;
    float: left;
    margin:12px;
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    text-align: center;
    border-radius: 15px;
}
div img{
    padding-left: 12px;
    border-radius: 15px;
}
button{

    width: 70%;
    height: 60px;
    margin-bottom: 14px;
    font-size:23px;
    color:DodgerBlue;
    background-color: cornsilk;
    border-radius: 15px;

}